.box {
    width: 700px;
    padding: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 196, 255);
    text-align: center;
}

.box h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.box input[type="text"],.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background-color: rgb(228, 196, 255);
}

.p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.para-2 {
    text-align: center;
    color: rgb(231, 103, 77);
    font-size: 15px;
    margin-top: -10px;
}

.para-2 a {
    color: rgb(231, 103, 77);
}

.SignUp-box{
    width: 100px;
    padding: 30px;
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: rgb(228, 196, 255);
    text-align: center;
}

.box h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-stretch: condensed;
}

.box input[type="text"],.box input[type="First Name"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 10px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="First Name"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="Last Name"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Last Name"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="Email"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Email"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="Username"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Username"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="confirm password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="confirm password"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="submit"]{
    background-color: rgb(228, 196, 255);
}

.box {
    width: 700px;
    padding: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 196, 255);
    text-align: center;
}

.box h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.box input[type="text"],.box input[type="Name"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Name"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="Breed"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Breed"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="Age"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Age"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="text"],.box input[type="Pet Kind"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
}

.box input[type="text"]:focus,.box input[type="Pet Kind"]:focus {
    width: 310px;
    border-color: rgb(234, 0, 255);
    text-align: center;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid navy;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background-color: rgb(228, 196, 255);
}