<article class="vaccine">
    <div class="title ">
        <h2 class="display-6">{{pet_name}}</h2>
    </div>
    <div class="info">
        <h3> Species: {{pet_species}}</h3>
        <p> Vaccinated on: {{format_date vaccination_date}} with {{vaccine}} shot </p>
    </div>
</article>