<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pet Vax</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" >
</head>

<body>
    <header class="text-bg-info p-3 row border">
        <h1 class="col-8 text-white">
            Get Your Pet Vaxxed!
        </h1>
        <nav class="navbar navbar-expand-lg col-4 justify-content-end">
            <ul>
                <a href="/login" class="navbar-brand text-white border-bottom" > Login </a>
                {{#if loggedIn}}
                <button id="logout" class="btn btn-link navbar-brand text-white border-bottom"> Logout </button>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        <section id="hero">
            
        </section>
        {{{body}}}
    </main>
    <footer class="text-bg-light p-3 border text-center fs-5 fst-italic">
        For all your pet needs!
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>