<article class="card">
    <a href="/dashboard/" class="bg-light"> &larr; Back to Dashboard </a>
    <h2 class="display-4 card-header border-bottom">
        Edit Vaccine
    </h2>
    <form class="edit-vaccine-form">
        <div class="mx-3">
            <label for="pet-name-edit" class=" my-2 form-label text-center fw-semibold"> Edit Pet Name:</label>
            <input name="pet-name-edit" type="text" class="form-control" placeholder="{{vaccine.pet_name}}" />
        </div>
        <div class="mx-3">
            <label for="vaccines-edit" class=" my-2 form-label text-center fw-semibold"> Edit Vaccination here:</label>
            {{!-- not sure hot to populate vaccine property of object here --}}
            <input type="text" class="form-control" name="vaccines-edit" placeholder="New Vaccine" />
            <label for="vaccine-date" class="my-2 form-label text-center fw-semibold"> Edit Date: </label>
            <input type="date" class="form-control" id="vaccine-date" name="vaccine-date"
                value="{{vaccine.vaccination_date}}">
        </div>
        <div class="mx-3 my-2">
            Created on {{format_date vaccine.created_at}}
        </div>
        <button type="submit" class="btn btn-primary my-4 ms-2"> Save Post</button>
        <button type="button" id="delete-record-btn" class="btn btn-primary my-4 ms-2"> Delete Post</button>
    </form>
</article>

<script src="/javascript/edit-vaccine.js"></script>
<script src="/javascript/delete-vaccine.js"></script>