<section class="row mt-2">
    <div class="card col-xs-6 col-md-5 mx-2">
        <div class="card-body">
            <h1 class="card-title"> New Pup? No Problem!</h1>
            <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, incidunt. Nisi placeat error dolorum,
                voluptas aut veniam? Laborum aliquid magni officiis reprehenderit reiciendis quod aliquam dolorum, nulla
                sed, cum maxime?
            </p>
        </div>
    </div>
    <div class="card col-xs-6 col-md-5 mx-2">
        <div class="card-body">
            <h1 class="card-title"> New Pup? No Problem!</h1>
            <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, incidunt. Nisi placeat error dolorum,
                voluptas aut veniam? Laborum aliquid magni officiis reprehenderit reiciendis quod aliquam dolorum, nulla
                sed, cum maxime?
            </p>
        </div>
    </div>
</section>