#hero {
    background-image: url(../screenshots/dog.jpg);
    background-size: cover;
    height: 360px;
    background-position-y: 16%;
}
.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important ;
}
